#calendar {
    width: 50%;
    height: 600px;
    background: #fff;
    margin: 5px auto;
    position: relative;
    border-radius: 10px;
    border:0;
    position: relative;
    background: #ccc;
}
 #flex-container {
    box-sizing: border-box;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 2%;
    left: 15%;
    background: rgb(206, 228, 238);;
    border: 0;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
#flex-container div {
    background: #fff;
    width: 21%;
    border-radius: 5px;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#note {
    width: 80%;
    height: 25%;
    background:  rgb(206, 228, 238);
    position: absolute;
    bottom: 2%;
    left: 10%;
    border-radius: 10px;
}
#flex-container div.active {
    color: red;
    background: #ccc;
}
#note h2 {
    padding-left: 15px;
}
